@{
    ViewData["Title"] = "Funcionalidades por Arbol ABB";
}
<body style="background-color: moccasin;">
<h1>@ViewData["Title"] </h1>
<p/>
<div>
    <h5>Funcionalidades</h5>
    <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="BusquedaABB">Buscar</a></button>
    </div>
        <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="OrdenamientoABB">Ordenamiento</a></button>
        </div>
        <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="ComparacionesABB">Comparaciones</a></button>
        </div>
</div>

</body>