@{
    ViewData["Title"] = "Funcionalidades por Arbol AVL";
}
<body style="background-color: moccasin;">
<h1>@ViewData["Title"] </h1>
<p/>
<div>
    <h5>Funcionalidades</h5>
    <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="BusquedaAVL">Buscar</a></button>
    </div>
        <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="OrdenamientoAVL">Ordenamiento</a></button>
        </div>
        <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="ComparacionesAVL">Rotaciones</a></button>
        </div>
</div>
</body>
