@{
    ViewData["Title"] = "Funcionalidades por Arbol AVL";
}

<h1>@ViewData["Title"] </h1>
<p/>
<div>
    <h5>Funcionalidades</h5>
    <div>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="cargamanual">Ordenar</a></button>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="cargamanual">Buscar</a></button>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="cargamanual">Estadisticas</a></button>
    </div>
</div>
