@{
    ViewData["Title"] = "Guardado con Exito";
}
<h1>@ViewData["Title"] </h1>
<label>¿ Quieres agregar otro carro ?</label>
<p></p>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="cargamanual">Subir otro</a></button>
